html, 
body, 
#root{
  background-color: blue;
  color: white;
  font-weight: bold;
}

.App {
  padding-top: 5%;
  text-align: center;
}

.Nav-link {
  padding: 2rem;
}

.nav-item {
  margin-top: 1rem;
}

.content{
  padding-top: 5%;
  text-align: center;
}


